{% extends 'baseadmin.html.twig' %}

{% block title %}Liste utilisateur{% endblock %}

{% block body %}
    <h1>Liste utilisateur</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Vérifié</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|first?'ADMIN':'USER' }}</td>
                <td>{{ user.isVerified ? 'Yes' : ("<a href=\""~path('app_resendemail')~"\" target=\"_blank\">resend email</a>")|raw }}</td>
                <td>
                    <a href="{{ path('app_profil_show', {'id': user.id}) }}">Voir</a>
                    <a href="{{ path('app_profil_edit', {'id': user.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Rien trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_profil_new') }}">Ajouter un nouvelle utilisateur</a>
{% endblock %}
