{{ form_start(form) }}
{#    {{ form_widget(form) }} #}
{{ form_label(form.title) }}
    {{ form_widget(form.title) }}
{{ form_label(form.content) }}
    {{ form_widget(form.content,{value:bloccv.content|raw}) }}
{{ form_label(form.emplacement) }}
    {{ form_widget(form.emplacement) }}
{{ form_label(form.position) }}
    {{ form_widget(form.position) }}
{{ form_label(form.public) }}
    {{ form_widget(form.public) }}
{{ form_label(form.cv) }}
    {{ form_widget(form.cv) }}
<div class="form-group pt-2">
    <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
    <a href="{{ path('app_bloccv_index') }}" class="btn btn-dark">Retour</a>
</div>
{{ form_end(form) }}
