{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
    {{ form_widget(form.content,{value:bloccv.content|raw}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
