{% extends 'baseadmin.html.twig' %}

{% block title %}Bloccv index{% endblock %}

{% block body %}
    <h1>Bloccv index</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Emplacement</th>
                <th>Position</th>
                <th>Public</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bloccv in bloccvs %}
            <tr>
                <td>{{ bloccv.id }}</td>
                <td>{{ bloccv.title|upper }}</td>
                <td>{{ bloccv.date ? bloccv.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bloccv.emplacement }}</td>
                <td>{{ bloccv.position }}</td>
                <td>{{ bloccv.public ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_bloccv_show', {'id': bloccv.id}) }}">Voir</a>
                    <a href="{{ path('app_bloccv_edit', {'id': bloccv.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Rien trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_bloccv_new') }}">Ajouter un nouveau bloc cv</a>
{% endblock %}
