{% extends 'baseadmin.html.twig' %}

{% block title %}Bloccv{% endblock %}

{% block body %}
    <h1>Bloccv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bloccv.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ bloccv.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ bloccv.content|raw }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ bloccv.date ? bloccv.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Emplacement</th>
                <td>{{ bloccv.emplacement }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ bloccv.position }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{{ bloccv.public ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>


    <div class="form-group pt-1">
        <a href="{{ path('app_bloccv_index') }}" class="btn btn-dark">Retour</a>

        <a href="{{ path('app_bloccv_edit', {'id': bloccv.id}) }}" class="btn btn-primary">Editer</a>
    </div>
{% endblock %}
