{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="form-group pt-1">
    <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
    <a href="{{ path('app_demarchage_index') }}" class="btn btn-dark">Retour</a>
</div>
{{ form_end(form) }}
