{% extends 'base.html.twig' %}

{% block title %}Blocimage index{% endblock %}

{% block body %}
    <h1>Blocimage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blocimage in blocimages %}
            <tr>
                <td>{{ blocimage.id }}</td>
                <td>{{ blocimage.title }}</td>
                <td>{{ blocimage.content }}</td>
                <td>{{ blocimage.type }}</td>
                <td>
                    <a href="{{ path('app_blocimage_show', {'id': blocimage.id}) }}">show</a>
                    <a href="{{ path('app_blocimage_edit', {'id': blocimage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blocimage_new') }}">Create new</a>
{% endblock %}
