{% extends 'base.html.twig' %}

{% block title %}Blocimage{% endblock %}

{% block body %}
    <h1>Blocimage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blocimage.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blocimage.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ blocimage.content }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ blocimage.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_blocimage_index') }}">back to list</a>

    <a href="{{ path('app_blocimage_edit', {'id': blocimage.id}) }}">edit</a>

    {{ include('blocimage/_delete_form.html.twig') }}
{% endblock %}
