{% extends 'baseadmin.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
    <h1>Mes projets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mesprojet.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ mesprojet.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ mesprojet.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ mesprojet.date ? mesprojet.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lien github</th>
                <td>{{ mesprojet.lienGithub }}</td>
            </tr>
            <tr>
                <th>Lien web</th>
                <td>{{ mesprojet.lienWeb }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mesprojets_index') }}">Retour</a>

    <a href="{{ path('app_mesprojets_edit', {'id': mesprojet.id}) }}">Editer</a>

    {{ include('admin/mesprojets/_delete_form.html.twig') }}
{% endblock %}
